@import "variables";
@import "extends";

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app
 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: $primary-font-stack;
}

h1 {
  @extend %h1
}




