@import "src/app/styles/variables";

.button {
  font-family: $primary-font-stack;
  font-size: 18px;
  font-weight: 700;
  border-radius: $default-border-radius;
  background-color: unset;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba($primary-color, 0.2);
  border: 1px solid transparent;
  transition: background-color ease .3s, color ease .3s, border ease .3s, width ease .3s;
  text-align: center;
  width: max-content;

  &.primary {
    color: $white-color;
    background-color: $primary-color;
    transition: background-color ease .3s, color ease .3s, border ease .3s;

    &:hover {
      background-color: $light-primary-color;
    }

    &:active {
      background-color: $contrast-primary-color;
    }

    &:focus {
      border: 1px solid $accent-color;
    }

    &:disabled {
      color: $disabled-text-color;
      background-color: $disabled-bg-color;
      box-shadow: none;
      cursor: default;
    }
  }

  .small {
    padding: $default-indent $large-indent
  }

  &.medium {
    padding: 12px $large-indent;
    min-height: 48px;
    line-height: 24px;
  }

  &.full {
    width: 100%;
  }

  &.loading {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: $default-indent;
    align-items: center;
    justify-content: center;

    & .spin {
      display: block;
    }
  }


  & .spin {
    display: none;
    margin: 0 $default-indent 0 0;

    & > svg {
      fill: currentColor;
    }
  }

}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
