@import "src/app/styles";

.widget {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  background-image: url("./union.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: $large-indent;
}

@media screen and (max-width: $lg-width){
  .widget {
    gap: 30px;
  }
}
