@import "src/app/styles";

.modal {
  max-width: 400px;
  width: 100%;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: $large-indent;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $default-indent;
}
